{% extends 'basic.html' %}
{% load static %}
{% block body %}
   <!-- Start main-content -->
 <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static "images/bg/bg1.jpg" %}">
     <div class="container pt-100 pb-50">
      <!-- Section Content -->
      <div class="section-content pt-100">
       <div class="row">
        <div class="col-md-12">
         <h3 class="title text-white">
          Events
         </h3>
        </div>
       </div>
      </div>
     </div>
    </section>
    <section>
     <div class="container">
      <div class="row">
       <div class="col-md-8">
        <h2 class="text-theme-colored">
         Event Title Place Here
        </h2>
        <div class="owl-carousel-1col" data-nav="true">
         <div class="item">
          <img alt="" src=" {% static 'images/bg/bg19.jpg' %} "/>
         </div>
         <div class="item">
          <img alt="" src=" {% static 'images/bg/bg6.jpg' %} "/>
         </div>
         <div class="item">
          <img alt="" src=" {% static 'images/bg/bg9.jpg' %} "/>
         </div>
        </div>
       </div>
       <div class="col-md-4 mt-60">
        <ul>
         <li>
          <h4>
           Topics:
          </h4>
          <p>
           Children around the world are not enrolled in school
          </p>
         </li>
         <li>
          <h4>
           Host:
          </h4>
          <p>
           Kodesolution Lmd.
          </p>
         </li>
         <li>
          <h4>
           Location:
          </h4>
          <p>
           #405, Lan Streen, Los Vegas, USA
          </p>
         </li>
         <li>
          <h4>
           Start Date:
          </h4>
          <p>
           January 26, 2018
          </p>
         </li>
         <li>
          <h4>
           End Date:
          </h4>
          <p>
           February 10, 2019
          </p>
         </li>
         <li>
          <h4>
           Website:
          </h4>
          <p>
           kodesolution.com
          </p>
         </li>
         <li>
          <h5>
           Share:
          </h5>
          <div class="styled-icons icon-dark icon-theme-colored icon-sm icon-circled">
           <a href="#">
            <i class="fa fa-facebook">
            </i>
           </a>
           <a href="#">
            <i class="fa fa-twitter">
            </i>
           </a>
           <a href="#">
            <i class="fa fa-instagram">
            </i>
           </a>
           <a href="#">
            <i class="fa fa-google-plus">
            </i>
           </a>
          </div>
         </li>
        </ul>
       </div>
      </div>
      <div class="row mt-60">
       <div class="col-md-6">
        <h3 class="mt-0 text-theme-colored">
         Event Description
        </h3>
        <p>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi id perspiciatis facilis nulla possimus quasi, amet qui. Ea rerum officia, aspernatur nulla neque nesciunt alias repudiandae doloremque, dolor, quam nostrum laudantium earum illum odio quasi excepturi mollitia corporis quas ipsa modi nihil, ad ex tempore.
        </p>
       </div>
       <div class="col-md-6">
        <blockquote class="bg-theme-colored">
         <p class="text-white">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
         </p>
         <footer>
          Someone famous in
          <cite title="Source Title">
           Source Title
          </cite>
         </footer>
        </blockquote>
       </div>
      </div>
      <div class="row">
       <div class="col-md-12">
        <h3 class="text-theme-colored mb-30">
         Keynote Speakers
        </h3>
       </div>
      </div>
      <div class="row">
       <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
        <div class="team-member">
         <div class="volunteer-thumb">
          <img alt="" class="img-fullwidth img-responsive" src=" {% static 'images/team/5.jpg' %} "/>
         </div>
         <div class="bg-lighter text-center pt-20 pb-20">
          <div class="member-biography">
           <h3 class="mt-0">
            <a class="text-theme-colored" href="#">
             Sakib John
            </a>
           </h3>
          </div>
          <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-15">
           <li>
            <a href="#">
             <i class="fa fa-facebook">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="fa fa-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="fa fa-google-plus">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="fa fa-skype">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
       <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
        <div class="team-member">
         <div class="volunteer-thumb">
          <img alt="" class="img-fullwidth img-responsive" src=" {% static 'images/team/6.jpg' %} "/>
         </div>
         <div class="bg-lighter text-center pt-20 pb-20">
          <div class="member-biography">
           <h3 class="mt-0">
            <a class="text-theme-colored" href="#">
             Fiona John
            </a>
           </h3>
          </div>
          <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-15">
           <li>
            <a href="#">
             <i class="fa fa-facebook">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="fa fa-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="fa fa-google-plus">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="fa fa-skype">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
       <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
        <div class="team-member">
         <div class="volunteer-thumb">
          <img alt="" class="img-fullwidth img-responsive" src=" {% static 'images/team/7.jpg' %} "/>
         </div>
         <div class="bg-lighter text-center pt-20 pb-20">
          <div class="member-biography">
           <h3 class="mt-0">
            <a class="text-theme-colored" href="#">
             Ismail Smith
            </a>
           </h3>
          </div>
          <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-15">
           <li>
            <a href="#">
             <i class="fa fa-facebook">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="fa fa-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="fa fa-google-plus">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="fa fa-skype">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
       <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
        <div class="team-member">
         <div class="volunteer-thumb">
          <img alt="" class="img-fullwidth img-responsive" src=" {% static 'images/team/8.jpg' %} "/>
         </div>
         <div class="bg-lighter text-center pt-20 pb-20">
          <div class="member-biography">
           <h3 class="mt-0">
            <a class="text-theme-colored" href="#">
             Jerin Smith
            </a>
           </h3>
          </div>
          <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-15">
           <li>
            <a href="#">
             <i class="fa fa-facebook">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="fa fa-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="fa fa-google-plus">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="fa fa-skype">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- Divider: Call To Action -->
    <section class="bg-theme-colored">
     <div class="container pt-0 pb-0">
      <div class="row">
       <div class="col-md-12">
        <div class="call-to-action pt-30 pb-30">
         <div class="col-md-9">
          <h3 class="text-white">
           Lets Change the world we all together, join us now as a volunteer
          </h3>
         </div>
         <div class="col-md-3 text-right sm-text-center">
          <a class="btn btn-transparent btn-border btn-circled btn-lg mt-15" href="#">
           Become a Volunteer
          </a>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
   </div>
   <!-- end main-content -->
   <!-- Footer -->
{% endblock %}