{% extends 'basic.html' %}
{% load static %}
{% block body %}
   <!-- Start main-content -->
   <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static "images/bg/bg1.jpg" %}">
     <div class="container pt-100 pb-50">
      <!-- Section Content -->
      <div class="section-content pt-100">
       <div class="row">
        <div class="col-md-12">
         <h3 class="title text-white">
          Causes List
         </h3>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- Section: Causes -->
    <section>
     <div class="container pb-30">
      <div class="section-content">
       <div class="row multi-row-clearfix">
        <div class="col-sm-6 col-md-9 slide">
            {% for data in couseslist %}
                {% include 'couses/component/singlecouseslist.html' with data=data %}
            {% endfor %}
         <div class="col-md-12">
          <nav>
           <ul class="pagination theme-colored mt-0">
            <li>
             <a aria-label="Previous" href="#">
              <span aria-hidden="true">
               «
              </span>
             </a>
            </li>
            <li class="active">
             <a href="#">
              1
             </a>
            </li>
            <li>
             <a href="#">
              2
             </a>
            </li>
            <li>
             <a href="#">
              3
             </a>
            </li>
            <li>
             <a href="#">
              4
             </a>
            </li>
            <li>
             <a href="#">
              5
             </a>
            </li>
            <li>
             <a href="#">
              ...
             </a>
            </li>
            <li>
             <a aria-label="Next" href="#">
              <span aria-hidden="true">
               »
              </span>
             </a>
            </li>
           </ul>
          </nav>
         </div>
        </div>
        <div class="col-md-3 slide">
         <div class="sidebar sidebar-left mt-sm-30">
          <div class="widget">
           <h4 class="widget-title line-bottom">
            Search box
           </h4>
           <div class="search-form">
            <form>
             <div class="input-group">
              <input class="form-control search-input" placeholder="Click to Search" type="text"/>
              <span class="input-group-btn">
               <button class="btn search-button" type="submit">
                <i class="fa fa-search">
                </i>
               </button>
              </span>
             </div>
            </form>
           </div>
          </div>
          <div class="widget">
           <h4 class="widget-title line-bottom">
            Categories
           </h4>
           <div class="categories">
            <ul class="list list-border angle-double-right">
             <li>
              <a href="#">
               Creative
               <span>
                (19)
               </span>
              </a>
             </li>
             <li>
              <a href="#">
               Portfolio
               <span>
                (21)
               </span>
              </a>
             </li>
             <li>
              <a href="#">
               Fitness
               <span>
                (15)
               </span>
              </a>
             </li>
             <li>
              <a href="#">
               Gym
               <span>
                (35)
               </span>
              </a>
             </li>
             <li>
              <a href="#">
               Personal
               <span>
                (16)
               </span>
              </a>
             </li>
            </ul>
           </div>
          </div>
          <div class="widget">
           <h4 class="widget-title line-bottom">
            Latest News
           </h4>
           <div class="latest-posts">
            <article class="post media-post clearfix pb-0 mb-10">
             <a class="post-thumb" href="#">
              <img alt="" src="https://placehold.it/75x75"/>
             </a>
             <div class="post-right">
              <h5 class="post-title mt-0">
               <a href="#">
                Sustainable Construction
               </a>
              </h5>
              <p>
               Lorem ipsum dolor sit amet adipisicing elit...
              </p>
             </div>
            </article>
            <article class="post media-post clearfix pb-0 mb-10">
             <a class="post-thumb" href="#">
              <img alt="" src="https://placehold.it/75x75"/>
             </a>
             <div class="post-right">
              <h5 class="post-title mt-0">
               <a href="#">
                Industrial Coatings
               </a>
              </h5>
              <p>
               Lorem ipsum dolor sit amet adipisicing elit...
              </p>
             </div>
            </article>
            <article class="post media-post clearfix pb-0 mb-10">
             <a class="post-thumb" href="#">
              <img alt="" src="https://placehold.it/75x75"/>
             </a>
             <div class="post-right">
              <h5 class="post-title mt-0">
               <a href="#">
                Storefront Installations
               </a>
              </h5>
              <p>
               Lorem ipsum dolor sit amet adipisicing elit...
              </p>
             </div>
            </article>
           </div>
          </div>
          <div class="widget">
           <h4 class="widget-title line-bottom">
            Photos from Flickr
           </h4>
           <div class="clearfix" id="flickr-feed">
            <!-- Flickr Link -->
            <script src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08" type="text/javascript">
            </script>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
   </div>
   <!-- end main-content -->
    {% endblock %}

{% block css %}
<style>
div.section-content div.row div.slide {
    max-height: 150vh;
    overflow: scroll;
}
div.section-content div.row div.slide::-webkit-scrollbar {
    display: none;
}
</style>
{% endblock %}